<div class="d-flex container vh-100 flex-row align-items-center">
    <div class="flex-fill shadow-lg p-3 mb-5 bg-body rounded min-vh-50">
        <h5 class="text-center">Simple Form</h5>
        <form [formGroup]="simpleForm">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" [class.is-invalid]="isVaildField('firstName')" />
                        <label for="firstName">First Name</label>
                    </div>
                    <div *ngIf="isVaildField('firstName')" class="error-text">
                        First Name is required.
                    </div>
                </div>
                <div class="col-md-6  mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name" [class.is-invalid]="isVaildField('lastName')" />
                        <label for="lastName">Last Name</label>
                    </div>
                    <div *ngIf="isVaildField('lastName')" class="error-text">
                        Last Name is required.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <textarea class="form-control h-100" id="smallDescription" rows="5" formControlName="smallDescription" placeholder="Enter Description" [class.is-invalid]="isVaildField('smallDescription')"></textarea>
                        <label for="smallDescription">Small Description</label>
                    </div>
                    <div *ngIf="isVaildField('smallDescription')" class="error-text">
                        Small Description is required.
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email" [class.is-invalid]="isVaildField('email') || isVaildFieldEmail()" />
                        <label for="email">Email address</label>
                    </div>
                    <div *ngIf="isVaildField('email')" class="error-text">
                        Email is required.
                    </div>
                    <div *ngIf="isVaildFieldEmail()" class="error-text">
                        Invalid Email format.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <input type="file" class="file-input" accept="image/*" (change)="onFileSelected($event)" #fileUpload class="visually-hidden">
            </div>
            <div class="row mb-3" *ngIf="imagePreviewSrc.length>0">
                <div class="col-md-6 img-preview" *ngFor="let imageSrc of imagePreviewSrc">
                    <img [src]="imageSrc" class="auto-resize" />
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!simpleForm.valid && uploadedImages.length>0">Save</button>
                <button type="button" class="btn btn-light me-2" (click)="fileUpload.click()"><i class="fa fa-plus"></i> Add image</button>
            </div>
        </form>
    </div>
</div>